#main-section {
  background-color: blueviolet;
}

.header {
  background-color: bisque;
}

.paragraf1 {
  background-color: azure;
}

.paragraf2 {
  background-color: antiquewhite;
}

.header2 {
  background-color: aqua;
}

.list {
  background-color: red;
}

.list1 {
  color: yellow;
}
.list2 {
  color: pink;
}

.list3 {
  color: beige;
}

.list4 {
  color: goldenrod;
}

.list5 {
  color: green;
}
